.body-overflow-hidden {
  overflow: hidden; }

.header_navbar {
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 100vw;
  width: 100%;
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }

.navbar_container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  padding: 0.4rem 0.9rem;
  margin: 0 auto; }
  .navbar_container .logo_link {
    color: #f16821; }
    .navbar_container .logo_link:hover {
      color: white; }
    .navbar_container .logo_link img {
      margin-right: 0.7rem;
      display: inline-block;
      width: 2.8rem; }
    .navbar_container .logo_link p {
      font-family: "roboto-medium";
      font-size: 0.7rem;
      font-style: italic;
      margin: 0;
      line-height: 0.5rem; }
    .navbar_container .logo_link h2 {
      font-size: 1.5rem;
      font-family: "Rubik";
      font-style: italic; }

.nav_toggle {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.3rem;
  transition: 0.4s ease-out; }
  .nav_toggle:hover {
    background-color: blanchedalmond;
    color: #f16821; }
  .nav_toggle img {
    width: 28px; }

.nav_links {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  font-family: "poppins-regular";
  transition: 0.2s linear; }

.home_header {
  height: calc(100vh - 4rem);
  position: relative; }

.showcase {
  background-size: 100%;
  background: url("/static/img/backgrounds/marcin-jozwiak-kGoPcmpPT7c-unsplash.jpg") no-repeat center center/cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .showcase h2 {
    position: relative;
    z-index: 2;
    font-size: 1.2rem;
    color: white; }
    .showcase h2 span {
      color: #f16821; }

.scrolltop {
  position: fixed;
  bottom: 0rem;
  right: 0.6rem;
  visibility: hidden;
  background-color: gray;
  padding: 0.4rem;
  height: 34px;
  width: 30px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
  transition: 0.4s;
  z-index: 10;
  opacity: 0.4;
  cursor: pointer; }
  .scrolltop:hover {
    background-color: #555252; }

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
  opacity: 1; }

.modalbox {
  background-color: rgba(20, 20, 20, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
  padding: 1rem 0.5rem;
  transition: ease-in-out 6s;
  overflow: hidden; }
  .modalbox .delete-modal {
    max-width: 60%;
    background-color: #ececec;
    padding: 1rem;
    border-radius: 8px; }
  .modalbox .btn-container {
    display: flex;
    align-items: center;
    gap: 0.4rem; }
  .modalbox a, .modalbox button {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.7;
    outline: none;
    transition: 0.2s ease-in-out; }
  .modalbox a {
    background-color: #ffd0d0;
    color: #7c0d0d; }
    .modalbox a:hover {
      background-color: #fab3b3; }
  .modalbox button {
    background-color: grey;
    color: white; }
    .modalbox button:hover {
      background-color: black; }
  .modalbox p {
    color: black;
    margin-bottom: 0.5rem; }
  .modalbox span {
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: 0.5; }

.how-it-work {
  position: relative;
  background: url("/static/img/backgrounds/packages.jpg") no-repeat center center/cover; }
  .how-it-work .how-header {
    position: relative;
    z-index: 3;
    color: #f16821; }
  .how-it-work .how-grid {
    transition: 0.4s;
    display: grid;
    grid-gap: 2.3rem; }
    .how-it-work .how-grid p {
      position: relative;
      z-index: 3;
      color: white;
      margin: 1rem 0; }
    .how-it-work .how-grid p.num {
      display: inline-block;
      padding: 0.5rem;
      text-align: center;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #f16821;
      border: 3px solid white; }
    .how-it-work .how-grid p.words {
      line-height: 1.4rem;
      font-size: 0.95rem;
      padding-bottom: 1rem; }
  .how-it-work::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 10, 28, 0.6); }

.services {
  margin-top: 1rem; }
  .services h5,
  .services h3 {
    text-align: center; }
  .services h5 {
    font-size: 1.1rem;
    margin-top: 1rem;
    color: #f16821;
    font-family: "rubik"; }
  .services h3 {
    font-family: "opensan-reg";
    font-size: 2rem;
    margin: 0.3rem 0 0 0;
    color: #2c234d; }

.offer-grid {
  transition: 0.4s;
  display: grid;
  grid-gap: 1rem;
  text-align: center;
  margin: 2rem 0; }
  .offer-grid .grid {
    border: 1px solid rgba(170, 170, 170, 0.25);
    border-radius: 5px;
    padding: 5rem 1.3rem; }
  .offer-grid .grid img {
    display: inline-block;
    margin: 0 auto;
    width: 45px; }
  .offer-grid .grid h4 {
    color: #2c234d;
    font-family: "opensan-reg";
    font-size: 1.3rem;
    margin: 1rem 0; }
  .offer-grid .grid p {
    line-height: 1.4rem; }

.about-grid {
  transition: 0.4s;
  display: grid;
  grid-gap: 2rem;
  grid-auto-rows: 400px; }
  .about-grid img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px; }
  .about-grid .writeups {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .about-grid .writeups h5 {
    font-size: 1.1rem;
    font-family: "rubik";
    color: #f16821; }
  .about-grid .writeups h3 {
    font-size: 1.6rem;
    font-family: "rubik";
    color: #2c234d; }
  .about-grid .writeups p {
    color: black;
    line-height: 1.3rem;
    font-size: 1rem;
    margin-bottom: 0.8rem; }
  .about-grid .writeups a {
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #ff5f13;
    border: 2px solid #f16821;
    color: white;
    font-family: "rubik";
    display: inline-block;
    transition: 0.24s ease-in-out; }
    .about-grid .writeups a:hover {
      background-color: transparent;
      color: #f16821; }

.shipment_table h4 {
  font-family: "roboto-light";
  padding: 0.2rem 0; }
.shipment_table table {
  width: 100%;
  text-align: center;
  margin-bottom: 0.8rem; }
  .shipment_table table thead tr th {
    color: white;
    font-family: "roboto-light";
    letter-spacing: 0.06rem;
    font-size: 0.85rem;
    background-color: #f16821;
    padding: 0.45rem 0.2rem; }
  .shipment_table table .counter {
    background-color: #f1f1f1;
    color: #fd7e14; }
  .shipment_table table .del-btn {
    padding: 0.3rem;
    background-color: #d82c2c;
    color: white;
    font-size: 0.7rem;
    border: none;
    outline: none;
    border-radius: 5px; }
  .shipment_table table tbody tr td {
    font-size: 0.9rem;
    padding: 0.6rem 0.15rem;
    border-bottom: 1px solid rgba(126, 124, 124, 0.4); }
    .shipment_table table tbody tr td .property {
      font-family: 'roboto-medium';
      color: #2c2c2c; }
    .shipment_table table tbody tr td .view-listing {
      font-size: 0.75rem;
      padding: 0.25rem 0.35rem;
      color: white;
      background-color: #1a73e8;
      border-radius: 3px; }
      .shipment_table table tbody tr td .view-listing:hover {
        background-color: #1c5aaa; }
.shipment_table .view-update-shipment {
  background-color: #121212;
  color: white;
  padding: 0.4rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  display: inline-block;
  font-size: 0.85rem; }
.shipment_table .mobile_table .empty-div {
  margin: 0.3rem 0;
  padding: 0.5rem;
  border: 1px solid rgba(138, 138, 138, 0.4);
  font-size: 0.9rem; }
.shipment_table .mobile-table-div {
  border: 1px solid rgba(27, 27, 27, 0.4);
  padding: 0.3rem;
  margin-bottom: 0.7rem; }
  .shipment_table .mobile-table-div .rows {
    letter-spacing: 0.45;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.3rem 0;
    border-bottom: 1px solid rgba(182, 182, 182, 0.4); }
    .shipment_table .mobile-table-div .rows h4, .shipment_table .mobile-table-div .rows p, .shipment_table .mobile-table-div .rows a {
      font-size: 0.85rem; }
    .shipment_table .mobile-table-div .rows h4 {
      font-weight: 600;
      font-family: 'Arial Narrow Bold', sans-serif; }
    .shipment_table .mobile-table-div .rows a {
      padding: 0.3rem 0.5rem;
      border-radius: 4px;
      background-color: antiquewhite; }
  .shipment_table .mobile-table-div .btn-div {
    gap: 1rem; }
    .shipment_table .mobile-table-div .btn-div a, .shipment_table .mobile-table-div .btn-div .sm-table-del {
      width: 100%;
      border: none;
      padding: 0.6rem 0.3rem;
      background-color: #ffd0d0;
      color: #7c0d0d;
      margin-top: 0.4rem;
      letter-spacing: 0.13rem;
      font-family: sans-serif;
      font-size: 0.85rem; }
    .shipment_table .mobile-table-div .btn-div .update-link {
      background-color: #868c98;
      color: white; }

.shipment_table .web_table,
.shipment_table .sm_tab_table {
  display: none; }

.contact-form {
  margin-top: 6rem; }
  .contact-form h3 {
    font-family: 'roboto-light'; }
  .contact-form .contact-info {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    .contact-form .contact-info div {
      display: flex;
      align-items: center;
      margin: 0 0.5rem 0.5rem 0; }
      .contact-form .contact-info div a {
        font-size: 0.9rem;
        font-family: 'roboto-light'; }
      .contact-form .contact-info div img {
        margin-right: 0.3rem;
        width: 28px;
        height: 28px;
        object-fit: cover; }
  .contact-form .contact-form-container {
    margin: 2rem 0;
    padding: 0.9rem;
    background-color: #f8f8f8; }
    .contact-form .contact-form-container h4 {
      margin-bottom: 1.05rem;
      font-family: "roboto-light";
      font-size: 0.9rem; }
    .contact-form .contact-form-container form select {
      cursor: pointer; }
    .contact-form .contact-form-container form input, .contact-form .contact-form-container form select {
      display: block;
      padding: 0.8rem 0.7rem;
      outline: none;
      border: none;
      width: 100%;
      border-bottom: 2px solid #f8f8f8;
      font-size: 0.9rem;
      transition: 0.3s linear; }
      .contact-form .contact-form-container form input:hover, .contact-form .contact-form-container form select:hover {
        border-bottom: 2px solid #20c997; }
    .contact-form .contact-form-container .form-div {
      margin-bottom: 1rem; }
    .contact-form .contact-form-container .grids {
      display: grid;
      grid-gap: 1rem; }
    .contact-form .contact-form-container textarea {
      width: 100%;
      padding: 0.5rem;
      font-size: 0.95rem;
      outline: none;
      border: none;
      box-sizing: border-box;
      border-bottom: 1.95px solid #f8f8f8;
      transition: 0.3s linear; }
      .contact-form .contact-form-container textarea:hover {
        border-bottom: 2px solid #20c997; }
    .contact-form .contact-form-container button {
      cursor: pointer;
      display: block;
      margin: 0.9rem auto 0 auto;
      text-align: center;
      padding: 0.6rem 1.05rem;
      font-size: 1rem;
      border-radius: 9px;
      background-color: white;
      border: 1px solid #20c997;
      border-radius: 34px;
      transition: 0.3s linear; }
      .contact-form .contact-form-container button:hover {
        color: white;
        background-color: #20c997; }

footer {
  background-color: #121212;
  color: #868c98;
  padding: 2rem 0;
  margin-top: 6.5rem; }
  footer .footer-grids {
    transition: 0.4s;
    display: grid;
    grid-column-gap: 0.5rem;
    min-height: 16rem; }
    footer .footer-grids .footer-grid {
      color: white; }
      footer .footer-grids .footer-grid h5 {
        margin-bottom: 1.8rem;
        font-size: 1.2rem;
        font-family: "opensan-light"; }
      footer .footer-grids .footer-grid .para {
        font-size: 0.93rem;
        letter-spacing: 0.04rem; }
      footer .footer-grids .footer-grid ul li {
        margin-bottom: 0.9rem; }
        footer .footer-grids .footer-grid ul li a {
          font-size: 1rem;
          color: #868c98;
          display: inline-block;
          transition: 0.2s ease-in-out; }
          footer .footer-grids .footer-grid ul li a:hover {
            color: #f16821;
            margin-left: 0.2rem; }
      footer .footer-grids .footer-grid a {
        color: #868c98;
        margin-right: 0.3rem; }
        footer .footer-grids .footer-grid a:last-child {
          margin-right: 0; }
      footer .footer-grids .footer-grid .nav-logo {
        display: flex;
        align-items: center;
        z-index: 2;
        margin-bottom: 1.8rem;
        color: white; }
        footer .footer-grids .footer-grid .nav-logo:hover {
          color: #f16821; }
        footer .footer-grids .footer-grid .nav-logo img {
          margin-right: 0.7rem;
          display: inline-block;
          width: 35px; }
        footer .footer-grids .footer-grid .nav-logo .logo-name p {
          font-family: "roboto-medium";
          font-size: 0.7rem;
          font-style: italic;
          margin: 0;
          line-height: 0.5rem; }
        footer .footer-grids .footer-grid .nav-logo .logo-name h2 {
          font-size: 1.5rem;
          font-family: "Rubik";
          font-style: italic; }
      footer .footer-grids .footer-grid .social-icons {
        margin-top: 0.4rem;
        display: flex;
        justify-content: flex-start; }
        footer .footer-grids .footer-grid .social-icons img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          transition: 0.24s ease-out; }
          footer .footer-grids .footer-grid .social-icons img:hover {
            width: 45px;
            height: 45px;
            margin-left: 2px; }
  footer .copyright {
    color: white;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem 0.5;
    font-size: 0.85rem;
    border-top: 0.01rem solid #868c98; }

.d-none {
  display: none; }

/*# sourceMappingURL=styles.css.map */
