$pry-color : #f16821;
$light-orange : #fd7e14;
$dark-orange : #ff5f13;
$darken-orange : #dd4e0c;
$footer-bg-clr : #121212;
$blue-text: #2c234d;
$footer-clr : #868c98;
$light-gray : #868c98;
$overlay-color : rgba(1, 10, 28, 0.6);
$z-index-highest: 15;
$z-index-high: 10;
$z-index-med: 5;
$pry-hover : rgb(27, 151, 145);
$sec-color : #333;
$pry-width : 900px;
$gray: #6c757d;
$gray-dark: #343a40;
$form-bg-cl: #f5f5f5;
$blue: rgb(26, 115, 232);
$overblue: rgb(28, 90, 170);
$yt-clr:#ffd0d0;
$yt-txt-clr:#7c0d0d;